.form-example {
    display: flex;
    flex-direction: column;
  }
  
  .form-example > * {
    width: 65%;
  }

  .family {
    height: 900px;
  }
  .left {
    background-color: rgb(245, 245, 245);
    padding: 3px;
  }
  .right {
    background-color: rgb(241, 241, 241);
  }

  .box  {
    padding: 10px;
    width: 80%;
    margin-left: 20px;
    border: 1px solid darkgray;
    text-align: center;
  }

  .header {
    width: 100%;
    text-align: left;
    font-size: 15px;
    padding: 20px;
  }