.form-container {
    width: 100%;
  }
  
  .form-card {
    width: 75%;
    margin: 0 auto;
  }
  
  .form-title {
    text-align: center;
    font-weight: lighter;
    padding-bottom: 10px;
    padding-top: 20px;
  }
  
  h2 {
    font-weight: lighter;
  }